*{
font-family:Georigia,Time New Roman, Times, serif;
}

div.container{
        width: 500px;
        border-width: 1px;
        border-color:#dedede;
        border-style: solid;
}

div.container-profile{
        height: 100px;
}

div.container-profile-avatar{
        
        position: absolute;
        left: 15px;
        width:85px;
        height: 100px;
        background-image:url("../img/Avatar.gif");
        background-repeat: no-repeat;
        background-size:100% 100%;
}

div.container-profile-info{
        margin-left:100px;
        
        height: 100px;
        width: 400px;
        overflow: scroll;
}

div.title-bg{
        background-image:url("../img/title_bg.gif");
        background-repeat: no-repeat;
        
        background-size:100% 100%;
}

div.comment{
        
        background-color:#ECECEC;
}

div.comment-info a{
text-decoration:none;
}

div.comment-info:before{
   margin-left:12px;
   margin-right:10px;
   content:url("../img/comment_bg.gif");
}

div.comment-title{
        text-align: center;
}


td.comment-row-title{
        
        width:25%;
}

b.title{
        
        font-size:18px;
}
b.comment-text
{
        font-size:18px;
}

ul.image{  
        list-style: none;     
}

ul li{
        margin-left:-6px;
}

ul li::before{
         content:url("../img/start.gif");
}

li span{
        position: relative;
        bottom:4px;  
}
